<script type="text/javascript">
  $(document).ready(function(){
  $('textarea').autosize();
});
</script>

<%= form_for(@entry, :html => {:class => 'form-inline'}) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.text_field :location, :placeholder => "Location" %>
  </div>
  <div class="field form-group">
    <%= f.number_field :rating, :placeholder => "Todays Rating" %>
  </div>
  <div class="field">
    <%= f.text_area :content, :placeholder => "Tell me about your day.." %>
  </div>
  <div class="actions">
    <%= f.submit 'Call it a day', :class => 'btn btn-primary' %>
  </div>
<% end %>
